<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Nueva partida</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Nueva partida</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div class="container text-center">              
        <ion-button *ngIf="jugadores.length>2" (click)="quitarJugador()" color="light">Quitar Jugador</ion-button>
        <ion-button (click)="crearPartida()" color="light">Crear partida</ion-button>
        <ion-card *ngFor="let jugador of jugadores; let i = index" class="col-2"> 
            <ion-card-title>
                <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input type="text" [(ngModel)]="jugador.nombre"></ion-input>
                </ion-item>                
            </ion-card-title>
            <div (click)="cambiarCPU(jugador)">
                <img *ngIf="!jugador.cpu"  src="../../../assets/Avatar Jugador.png" style="width: 12% ; -webkit-filter: opacity(.5) drop-shadow(0 0 0 green);
                filter: opacity(.5) drop-shadow(0 0 0 green);" />
                <img *ngIf="jugador.cpu" src="../../../assets/Avatar CPU.png" style="width: 12% ; -webkit-filter: opacity(.5) drop-shadow(0 0 0 green);
                filter: opacity(.5) drop-shadow(0 0 0 green);" />                        
            </div>
            
        </ion-card>
        <ion-button *ngIf="jugadores.length<8" (click)="agregarJugador()">Añadir Jugador</ion-button>
    </div>
  </ion-content>
  